<div id = "page_container">
	<h1 id = "title">
	</h1>
	<% unless Show.future_shows(1).empty? %>
		<%= render 'shows/future_show_image' %>
	<% end %>
	<%= render 'songs/mini_countdown' %>
	<%= render 'shows/latest_shows' %>
	<% unless Show.all.empty? %>
		<%= render 'shows/latest_show_image' %>
	<% end %>
	<%= render 'about' %>
	<%= render 'timer' %>
	<%= render 'newtown_link' %>
</div>

<%= javascript_tag do %>
  makeDraggables();
<% end %>