<%= form_for :show, url: url, method: method do |f| %>

  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@show.errors.count, "error") %> prohibited
        this show from being saved:
      </h2>
      <ul>
        <% @show.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.label :is_standalone %>
    <%= f.check_box :is_standalone %><br>
  </p>

  <p>
    <%= f.label :flyer %><br>
     <%= f.file_field :flyer %>
  </p>

  <p>
    <%= f.label :link_to_soundcloud %><br>
    <%= f.text_field :link_to_soundcloud %>
  </p>

  <p>
    <%= f.label :link_to_newtown_radio %><br>
    <%= f.text_field :link_to_newtown_radio %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <h4>
  Tracklist
  </h4>
   <%= f.file_field :tracklist %>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
