<div id = "shows_list_container"
  <h1>Shows#index</h1>

  <h1>Listing shows</h1>
  <table id = "shows">
    <tr>
      <th>Title</th>
      <th>DJ</th>
      <th>Date</th>
      <th>Image</th>
      <th>Description</th>
    </tr>
   
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.title %></td>
        <td><p><%= show.djNames%></p></td>
        <td><%= show.formatted_date %></td>
        <td><%= show.image %></td>
        <td><%= show.description %></td>
        <td><%= link_to 'Show', show_path(show) %></td>
      </tr>
    <% end %>
  </table>

  <div class = "link_container">
    <%= link_to 'Back', root_path %>  
  </div>
</div>
