<h1>Show</h1>
  <p>
    <%= @show.title %><br>
  </p>

  <p>
    <%= @show.date %><br>
  </p>

  <p>
    <%= @show.djNames %><br>
  </p>
 
  <p>
    <%= @show.description %><br>
  </p>

<%= render 'songs/songs_table', songs: @show.songs %>

<%= link_to 'Back', shows_path %>