<div id = "show_container">
	<%= render 'show_description', show: @show %>

	<% if @show.is_standalone? %>
		<p> Standalone tracklist </p>
	<% end %>

	<%= render 'top400/nav' %>

	<%= render 'top400/nav_link', link: "shows", icon: "smile-o 5x", path: shows_path %>
	<%= render 'top400/nav_link', link: "countdown", icon: "sort-numeric-asc 5x", path: songs_countdown_path %>
	<%= render 'top400/nav_link', link: "home", icon: "home 5x", path: root_path %>

	<% unless @show.is_standalone? %>
		<%= render 'show_flyer', show: @show %>
	<% end %>

	<% if @show.has_tracklist? %>
  		<%= render 'tracklist', songs: @show.songs_in_order %>
 	<% end %>

</div>

<%= javascript_tag do %>
  makeDraggables();
<% end %>

<% if session[:current_user] %>
  <li><%= link_to 'Log OUT', logout_sessions_path %></li>
<% end %>